<!DOCTYPE html>
<html>
	<head>
		<title>Great Number Game</title>
		<link rel = 'stylesheet' type = 'text/css' href = "{{ url_for('static', filename = 'index-style.css') }}"
	</head>
	<body>
		<div id = "wrapper">
			<h2>Welcome to the Great Number Game!</h2>
			<h4>I am thinking of a number between 1 and 100</h4>
			<h4>Make a guess!</h4>
			
			{% if session['restart'] == True %}
				<h1 id = 'correct'>{{session['outcome']}}</h1>
				<form action = '/guess' method = 'post'>
					<input type = 'hidden' name = 'action' value = 'play_again'>
					<input type = 'submit' value = 'Play again'>
				</form>
			{% elif 'result' not in session %}
				<form action = '/guess' method = 'post'>
					<input type = 'hidden' name = 'action' value = 'make_guess'>
					<input type = 'text' name = 'guess' required>
					<input type = 'submit' value = 'Submit'>
				</form>
			{% else %}
				<h1 id = 'incorrect'>{{session['outcome']}}</h1>
				<form action = '/guess' method = 'post'>
					<input type = 'hidden' name = 'action' value = 'make_guess'>
					<input type = 'text' name = 'guess' required>
					<input type = 'submit' value = 'Submit'>
				</form>
			{% endif %}
		</div> <!-- end of wrapper -->	
	</body>
</html>